#### 데이터 그룹화와 집계
- groupby() : 데이터를 구분 할 수있는 열의 값들을 이용하여 데이터를 여러 기준에 의해 구분하여 그룹화 한 후 기초 통계 함수 등을 적용 할 수 있도록 함

In [11]:
import seaborn as sns
import pandas as pd
import numpy as np

In [4]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# species를 기준으로하여 iris의 그룹화
iris_grouped = iris.groupby(by=iris.species) # iris['species']와 같음

In [9]:
iris_grouped

In [10]:
# 그룹화 한것의 평균값 출력
iris_grouped.mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [18]:
# np.ravel() :  다차원 배열을 1차원 배열로 변환 시켜준다
iris['num'] = np.ravel([[i]*25 for i in range(6)]) # 0~5까지 숫자를 25개씩 생성, 2차원을 1차원으로 만듬

In [17]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species  num
0             5.1          3.5           1.4          0.2     setosa    0
1             4.9          3.0           1.4          0.2     setosa    0
2             4.7          3.2           1.3          0.2     setosa    0
3             4.6          3.1           1.5          0.2     setosa    0
4             5.0          3.6           1.4          0.2     setosa    0
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  virginica    5
146           6.3          2.5           5.0          1.9  virginica    5
147           6.5          3.0           5.2          2.0  virginica    5
148           6.2          3.4           5.4          2.3  virginica    5
149           5.9          3.0           5.1          1.8  virginica    5

[150 rows x 6 columns]

In [19]:
iris_grouped2 = iris.groupby(by=[iris.species, iris.num])

In [21]:
iris_grouped2.mean()

                sepal_length  sepal_width  petal_length  petal_width
species    num
setosa     0           5.028        3.480         1.460        0.248
           1           4.984        3.376         1.464        0.244
versicolor 2           6.012        2.776         4.312        1.344
           3           5.860        2.764         4.208        1.308
virginica  4           6.576        2.928         5.640        2.044
           5           6.600        3.020         5.464        2.008

In [24]:
# species를 기준으로 group화 한 데이터를 for문으로 확인하기
for key, group in iris_grouped:
    print(key, type(group), '\n', group.head())

setosa <class 'pandas.core.frame.DataFrame'>
    sepal_length  sepal_width  petal_length  petal_width species  num
0           5.1          3.5           1.4          0.2  setosa    0
1           4.9          3.0           1.4          0.2  setosa    0
2           4.7          3.2           1.3          0.2  setosa    0
3           4.6          3.1           1.5          0.2  setosa    0
4           5.0          3.6           1.4          0.2  setosa    0
versicolor <class 'pandas.core.frame.DataFrame'>
     sepal_length  sepal_width  petal_length  petal_width     species  num
50           7.0          3.2           4.7          1.4  versicolor    2
51           6.4          3.2           4.5          1.5  versicolor    2
52           6.9          3.1           4.9          1.5  versicolor    2
53           5.5          2.3           4.0          1.3  versicolor    2
54           6.5          2.8           4.6          1.5  versicolor    2
virginica <class 'pandas.core.frame.DataFrame'>
      sepal_length  sepal_width  petal_length  petal_width    species  num
100           6.3          3.3           6.0          2.5  virginica    4
101           5.8          2.7           5.1          1.9  virginica    4
102           7.1          3.0           5.9          2.1  virginica    4
103           6.3          2.9           5.6          1.8  virginica    4
104           6.5          3.0           5.8          2.2  virginica    4

In [25]:
# 데이터프레임 그룹을 인덱싱 하는법
# 그룹을 인덱싱할 때 에는 take를 사용
iris_grouped.take([1, 2, 3])

                sepal_length  sepal_width  petal_length  petal_width
species
setosa     1             4.9          3.0           1.4          0.2
           2             4.7          3.2           1.3          0.2
           3             4.6          3.1           1.5          0.2
versicolor 51            6.4          3.2           4.5          1.5
           52            6.9          3.1           4.9          1.5
           53            5.5          2.3           4.0          1.3
virginica  101           5.8          2.7           5.1          1.9
           102           7.1          3.0           5.9          2.1
           103           6.3          2.9           5.6          1.8

In [26]:
iris_grouped.take([0, 1, 2])

                sepal_length  sepal_width  petal_length  petal_width
species
setosa     0             5.1          3.5           1.4          0.2
           1             4.9          3.0           1.4          0.2
           2             4.7          3.2           1.3          0.2
versicolor 50            7.0          3.2           4.7          1.4
           51            6.4          3.2           4.5          1.5
           52            6.9          3.1           4.9          1.5
virginica  100           6.3          3.3           6.0          2.5
           101           5.8          2.7           5.1          1.9
           102           7.1          3.0           5.9          2.1

In [29]:
# 슬라이싱은 불가능하다
# iris_grouped.take([:3, 1])

In [33]:
# take를 사용해서만 인덱싱 할 수 있다
# iris_grouped.iloc[0,]
# iris_grouped.loc[0,]

In [35]:
# get_group : by=(기준)을 주고 데이터를 가져오는 메소드
setosa_group = iris_grouped.get_group('setosa')
setosa_group

    sepal_length  sepal_width  petal_length  petal_width species  num
0            5.1          3.5           1.4          0.2  setosa    0
1            4.9          3.0           1.4          0.2  setosa    0
2            4.7          3.2           1.3          0.2  setosa    0
3            4.6          3.1           1.5          0.2  setosa    0
4            5.0          3.6           1.4          0.2  setosa    0
5            5.4          3.9           1.7          0.4  setosa    0
6            4.6          3.4           1.4          0.3  setosa    0
7            5.0          3.4           1.5          0.2  setosa    0
8            4.4          2.9           1.4          0.2  setosa    0
9            4.9          3.1           1.5          0.1  setosa    0
10           5.4          3.7           1.5          0.2  setosa    0
11           4.8          3.4           1.6          0.2  setosa    0
12           4.8          3.0           1.4          0.1  setosa    0
13           4.3          3.0           1.1          0.1  setosa    0
14           5.8          4.0           1.2          0.2  setosa    0
15           5.7          4.4           1.5          0.4  setosa    0
16           5.4          3.9           1.3          0.4  setosa    0
17           5.1          3.5           1.4          0.3  setosa    0
18           5.7          3.8           1.7          0.3  setosa    0
19           5.1          3.8           1.5          0.3  setosa    0
20           5.4          3.4           1.7          0.2  setosa    0
21           5.1          3.7           1.5          0.4  setosa    0
22           4.6          3.6           1.0          0.2  setosa    0
23           5.1          3.3           1.7          0.5  setosa    0
24           4.8          3.4           1.9          0.2  setosa    0
25           5.0          3.0           1.6          0.2  setosa    1
26           5.0          3.4           1.6          0.4  setosa    1
27           5.2          3.5           1.5          0.2  setosa    1
28           5.2          3.4           1.4          0.2  setosa    1
29           4.7          3.2           1.6          0.2  setosa    1
30           4.8          3.1           1.6          0.2  setosa    1
31           5.4          3.4           1.5          0.4  setosa    1
32           5.2          4.1           1.5          0.1  setosa    1
33           5.5          4.2           1.4          0.2  setosa    1
34           4.9          3.1           1.5          0.2  setosa    1
35           5.0          3.2           1.2          0.2  setosa    1
36           5.5          3.5           1.3          0.2  setosa    1
37           4.9          3.6           1.4          0.1  setosa    1
38           4.4          3.0           1.3          0.2  setosa    1
39           5.1          3.4           1.5          0.2  setosa    1
40           5.0          3.5           1.3          0.3  setosa    1
41           4.5          2.3           1.3          0.3  setosa    1
42           4.4          3.2           1.3          0.2  setosa    1
43           5.0          3.5           1.6          0.6  setosa    1
44           5.1          3.8           1.9          0.4  setosa    1
45           4.8          3.0           1.4          0.3  setosa    1
46           5.1          3.8           1.6          0.2  setosa    1
47           4.6          3.2           1.4          0.2  setosa    1
48           5.3          3.7           1.5          0.2  setosa    1
49           5.0          3.3           1.4          0.2  setosa    1

In [36]:
setosa_group.shape

(50, 6)

In [48]:
setosa_group2 = iris_grouped2.get_group(('setosa',0)) 
# iris_grouped2의 by가 species와 num 2개로 생성되어 튜플로 묶어줌

In [39]:
setosa_group2

    sepal_length  sepal_width  petal_length  petal_width species  num
0            5.1          3.5           1.4          0.2  setosa    0
1            4.9          3.0           1.4          0.2  setosa    0
2            4.7          3.2           1.3          0.2  setosa    0
3            4.6          3.1           1.5          0.2  setosa    0
4            5.0          3.6           1.4          0.2  setosa    0
5            5.4          3.9           1.7          0.4  setosa    0
6            4.6          3.4           1.4          0.3  setosa    0
7            5.0          3.4           1.5          0.2  setosa    0
8            4.4          2.9           1.4          0.2  setosa    0
9            4.9          3.1           1.5          0.1  setosa    0
10           5.4          3.7           1.5          0.2  setosa    0
11           4.8          3.4           1.6          0.2  setosa    0
12           4.8          3.0           1.4          0.1  setosa    0
13           4.3          3.0           1.1          0.1  setosa    0
14           5.8          4.0           1.2          0.2  setosa    0
15           5.7          4.4           1.5          0.4  setosa    0
16           5.4          3.9           1.3          0.4  setosa    0
17           5.1          3.5           1.4          0.3  setosa    0
18           5.7          3.8           1.7          0.3  setosa    0
19           5.1          3.8           1.5          0.3  setosa    0
20           5.4          3.4           1.7          0.2  setosa    0
21           5.1          3.7           1.5          0.4  setosa    0
22           4.6          3.6           1.0          0.2  setosa    0
23           5.1          3.3           1.7          0.5  setosa    0
24           4.8          3.4           1.9          0.2  setosa    0

In [40]:
setosa_group2.shape

(25, 6)

### 와이드 포맷과 롱 포맷
- 와이드 포맷
  - 가로로 긴 형식의 데이터 구조
  - 열 단위 데이터 구조
  - 피벗 테이블 (pivot table)
- 롱 포맷
  - 세로로 긴 형식의 데이터 구조
  - 행 단위 데이터 구조
  - 언 피벗 테이블 (unpivot table)
- melt() : 와이드 포맷을 롱 포맷 데이터로 바꿈 (언피벗팅)
- pivot() : 롱 포맷을 와이드 포맷 데이터로 바꿈

In [59]:
#!pip install statsmodels

In [58]:
import statsmodels.api as sm

In [ ]:
a